body {
  background-color: #C2CAD0;
  color: #000000;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #AFD275;
  padding: 10px;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #E7717D;
  text-decoration: none;
  margin-right: 10px;
}

main {
  padding: 20px;
}

footer {
  background-color: #E7717D;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

img {
  width: 300px;
  height: auto;
  margin-bottom: 20px;
}